/*body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        to top right, 
        #2C003E 10%,  
        #3B006F 30%,  
        #1A1A40 50%,  
        #00072D 70%,  
        #000000 100%  
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}*/ 
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        to right, 
        #800080,
        #000 100%
    );
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaço acima da barra de pesquisa */
}

.search-bar {
    width: 550px;
    padding: 10px;
    border: 2px solid #ccc; /* Adicionei 'solid' para definir o tipo de borda */
    border-radius: 40px;
    outline: none;
    font-size: 16px;
}

.search-bar:focus {
    border-color: #007BFF; 
}

.search-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 16px;
}

.search-button:hover {
    background-color: #0056b3; 
}


h1, p {
    margin: 0;
}
.content-pai {
    display: flex;
    flex-direction: center;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.content-filho {
    display: flex;
    gap: 20px;
    
}
.card {
    background-image: linear-gradient(
        to bottom, 
        #800080,
        #000 100%
    );
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 50px;
    width: 120px;
    text-align: center;
    
}
.card h1 {
    font-size: 16px;
    margin: 0 0 10px;
}
.card button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}