/*body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        to top right, 
        #2C003E 10%,  
        #3B006F 30%,  
        #1A1A40 50%,  
        #00072D 70%,  
        #000000 100%  
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}*/ 
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(
        to right, 
        #800080,
        #000 100%
    );
    align-items: center;
    box-sizing: border-box;
    overflow-x: hidden;
    
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.search-bar {
    width: 550px;
    padding: 10px;
    border: 2px solid #ccc; /* Adicionei 'solid' para definir o tipo de borda */
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    margin-left: 300px;
    margin-top: 50px;
    
}

.search-bar:focus {
    border-color: #007BFF; 
}

.search-container button {
    padding: 10px 10px; /* Ajuste o padding para tornar o botão mais compacto */
    background-color: #007BFF; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    margin-top: 50px; /* Mantém a margem superior igual à da barra de pesquisa */
    border: none; /* Remove a borda padrão */
    border-radius: 0 40px 40px 0; /* Bordas arredondadas apenas à direita */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte do botão */
    height: auto; 
    margin: 0;
    border-radius: 50%; /* Mantém o arredondamento */
    margin-top: auto;
    margin-left: 5px;
    
    
}

.search-container button img {
    width: 15px; /* Define a largura da imagem da lupa */
    height: auto; /* Mantém a proporção da imagem */
}


.search-container button:hover {
    background-color: #0056b3; 
}
.lado{
    display: flex;
    text-align: center;
}


h1, p {
    margin: 0;
}
p{
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-left: 300px ;
}

.content-pai {
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
}
.content-filho {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card {
    text-align: center;
    background-image: linear-gradient(
        to bottom, 
        #a71aa7,
        #000 100%
    );
    border: 3px solid #000;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 150px;

    
}
.card h1 {
    font-size: 16px;
    margin: 0 0 10px;
}
.card button {
    padding: 5px 10px;
    background-color: #00ff80;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


    
@media (max-width: 768px){ 
    .card { width: calc(50% - 20px);} 
}
@media (max-width: 480px) { 
    .card { width: 100%; 
    } 
    .content-lateral { width: 100px; 
    } 
    
    .search-container { margin-left: 120px; 
    } 
}


    
.titulo {
    text-align: center;
    color:aliceblue;
    font-size: 15px;
    margin-right: 350px;
}
.filtros{
    align-items: center;
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 200px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    
}

.filtros-filhos{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.car{
    background-image: linear-gradient(
        to bottom, 
        #a71aa7,
        #000 100%
    );
    border: 3px solid #000;
    border-radius: 20px;
    padding: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
.filtros-titulos{  
    text-align: center;
    color:#FFFFFF;
    font-size: 15px;
    margin-right: 350px;
    
}
.car h1 {
    font-size: 16px;
    margin: 0 0 10px;
}
.car button {
    padding: 5px 10px;
    background-color: #00ff80;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.n{
    color: aliceblue;
}
.nome{
    color: #FFFFFF;
}

.img-car {
    margin-bottom: 10px;
}

.img-car img {
    width: 80px; 
    height: 80px;
    border-radius: 50%; 
    object-fit: cover; 
}

.content-lateral {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; /* Alinha os elementos para o topo */
    text-align: center; 
    margin: 0; /* Remove a margem */
    padding: 0; /* Remove o padding */
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.44);
}

.content-lateral img {
    max-width: 100%; /* Ajusta para ocupar toda a largura disponível */
    height: auto; 
    margin: 0; /* Remove a margem externa */
    border-radius: 50%; /* Mantém o arredondamento */
    border: 3px solid #35424a; /* Borda da imagem */
    margin-top: 20px; /* Ajusta a posição da imagem a partir do topo */
}

.content-lateral button {
    margin-top: 10px; 
    background-image: linear-gradient(
        to right, 
        #a71aa7,
        #000 100%
    );
    padding: 10px 20px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    width: 150px; /* Largura do botão */
    align-self: center; /* Centraliza o botão horizontalmente */
    margin-top: 200px;
}

.content-lateral button:hover {
    background-color: #45a049; 
}



.img-adicionar {
    width: 50px; /* Ajusta a largura do ícone */
    height: 50px; /* Mantém a proporção */
    margin-left: 5px; /* Espaço entre o texto e o ícone */
}

.icon-container {
    display: flex; 
    justify-content: center; 
    gap: 15px; 
    padding: 10px; 
}

.icon {
    width: 40px;
    height: auto; 
    cursor: pointer; 
    transition: transform 0.2s; 
}

.icon:hover {
    transform: scale(1.1); 
}


